<md-card class="login-popup reset-password" *ngIf="isActivated">
  <md-card-title><p class="resetPassTitle">Reset Your Password</p></md-card-title>
  <md-card-content>
    <div layout="column" class="md-inline-form">
      <form>
        <table cellspacing="0">
          <tr class="login">
            <td>
              <md-input #password placeholder="password" type="password" style="width:100%"></md-input>
              <span class="symbolResetPass" #resetPassSymbolErr>min 8 symbol</span>
              <md-input #confirmPassword placeholder="confirm password"  type="password" style="width:100%"></md-input>
              <span class="symbolResetPass red" #resetPassConfirmPass>Entered passwords don't match</span>
            </td>
          </tr>
          <tr class="footer">
            <td><button md-button (click)="changePassword(password.value, confirmPassword.value)">Submit</button></td>
          </tr>
        </table>
      </form>
    </div>
  </md-card-content>
</md-card>
