
.symbolResetPass {
  font-size: 10px;
  margin-top: 5px;
  color: #bbbec2;
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}
.red {
  color: rgb(180,51, 37);
  display: none;
}

.reset-password {
  margin: 0;
  padding-top: 64px;
  box-shadow: none;
  .resetPassTitle {
    margin: 0 auto;
    color: #6fbe44; font-family: "Open Sans";
    font-size: 18px;
    border-bottom: 3px solid #2c5871;
    width: 295px;
    text-align: center;
    padding: 15px;
  }
  div {
    max-width: 600px;
    margin: 0 auto;
    form {
      table {
        width: 100%;
        .footer {
          td {
            text-align: center;
            [md-button]:hover::after, [md-icon-button]:hover::after {
              background-color: transparent;
            }
            button {
              width: 124px;
              height: 36px;
              border-radius: 3px;
              color: #FFF;
              font-size: 14px;
              background-color: #f58a37;
              margin-top: 15px;
              transition-duration: 0.2s;
              box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
              &:active {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
