<!--login-->
<div class="body-blog" *ngIf="blogLogin">
  <div class="totalLogin">
  <div class="blogLogin">
    <h1 class="page-name">Blog</h1>
    <div>
      <a href="#" class="page-home">Home</a>
      <span>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
      <a href="#" class="page-this">Blog</a>
    </div>
  </div>
  <main class="display-none main-blog">
    <section>
      <div>
        <div class="bg1"></div>
        <img src="../../assets/main/img1.jpg">
        <h3>VR, AR, AND ASIGNING THE NEW REALITY EXPERIENCE</h3>
        <div class="ellipse"></div>
        <p>Anahit Ghazaryan</p>
        <span class="date">on February 27.2017</span>
      </div>
      <div>
        <div class="bg2"></div>
        <img src="../../assets/main/img2.jpg">
        <h3>A PRODUCT MANAGER'S GUIDE TO WORKING WITH VISUAL DESIGNERS</h3>
        <div class="ellipse"></div>
        <p>Anahit Ghazaryan</p>
        <span class="date">on February 27.2017</span>
      </div>
    </section>
    <section>
      <div>
        <h3>A PRODUCT MANAGER'S GUIDE TO WORKING WITH VISUAL DESIGNERS</h3>
        <div class="ellipse"></div>
        <p>Anahit Ghazaryan</p>
        <span class="date">on February 27.2017</span>
      </div>
    </section>
    <section>
      <div>
        <div class="bg2"></div>
        <img src="../../assets/main/img2.jpg">
        <h3>A PRODUCT MANAGER'S GUIDE TO WORKING WITH VISUAL DESIGNERS</h3>
        <div class="ellipse"></div>
        <p>Anahit Ghazaryan</p>
        <span class="date">on February 27.2017</span>
      </div>
      <div>
        <div class="bg1"></div>
        <img src="../../assets/main/img1.jpg">
        <h3>VR, AR, AND ASIGNING THE NEW REALITY EXPERIENCE</h3>
        <div class="ellipse"></div>
        <p>Anahit Ghazaryan</p>
        <span class="date">on February 27.2017</span>
      </div>
    </section>
    <section>
      <div>
        <h3>A PRODUCT MANAGER'S GUIDE TO WORKING WITH VISUAL DESIGNERS</h3>
        <div class="ellipse"></div>
        <p>Anahit Ghazaryan</p>
        <span class="date">on February 27.2017</span>
      </div>
    </section>
  </main>
    <main class="display-none-mobile main-blog-mobile">
      <div class="recent-most-popular">
        <div class="recent">
          <span>Recent</span>
          <div class="green-round"></div>
        </div>
        <p class="most-popular">Most popular</p>
      </div>
      <section class="section-img">
        <div class="first-img">
          <div class="img1">
            <div class="bg3"></div>
            <img src="../../assets/main/img1_blog_mobile.png">
          </div>
          <span>VR</span>
          <p class="green-p">VR, AR, AND MR: DESIGNING THE NEW REALITY EXPERIENCE</p>
        </div>
        <div class="second-img">
          <div class="img2">
            <div class="bg4"></div>
            <img src="../../assets/main/img2_blog_mobile.png">
          </div>
          <span>VR</span>
          <p class="green-p">VR, AR, AND MR: DESIGNING THE NEW REALITY EXPERIENCE</p>
        </div>
      </section>
      <section class="dark"></section>
      <section class="text-1">
        <span class="vr">VR</span>
        <span class="vr-text-1">
				Lorem Ipsum is simply dummy text of the printing and
				typesetting industry. Lorem Ipsum has been the industry's
				standard dummy text ever since the 1500s
			</span>
      </section>
      <section class="section-img">
        <div class="second-img">
          <div class="img2">
            <div class="bg4"></div>
            <img src="../../assets/main/img2_blog_mobile.png">
          </div>
          <span>VR</span>
          <p class="green-p">VR, AR, AND MR: DESIGNING THE NEW REALITY EXPERIENCE</p>
        </div>
        <div class="first-img">
          <div class="img1">
            <div class="bg3"></div>
            <img src="../../assets/main/img1_blog_mobile.png">
          </div>
          <span>VR</span>
          <p class="green-p">VR, AR, AND MR: DESIGNING THE NEW REALITY EXPERIENCE</p>
        </div>
      </section>
      <div class="dark-parent">
        <section class="dark dark-2"></section>
        <div class="bg">
          <section class="text-2">
            <p class="vr-2">VR</p>
            <p class="vr-text-2">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s
            </p>
          </section>
        </div>
      </div>
      <div class="menu-mobile">
        <div class="menu-content">
          <div class="menu-btn"><img src="../../assets/main/menu_btn_mobile.png"></div>
          <div class="note">
            <img src="../../assets/main/img_note_mobile.png">
            <div>7</div>
          </div>
          <div class="user-img"><img src="../../assets/main/user_img_mobile.png"></div>
          <div></div>
        </div>
      </div>
    </main>
  <app-footer></app-footer>
  </div>
</div>

<!--logout-->

<div class="body-blog" *ngIf="blogLogout">
  <div class="totalLogout">
    <div class="g-blog display-none">
      <h1>Blog</h1>
      <div class="greenline greenline-left"></div>
      <div class="greenline greenline-right"></div>
    </div>
    <main class="display-none main-blog">
      <section>
        <div>
          <div class="bg1"></div>
          <img src="../../assets/main/img1.jpg">
          <h3>VR, AR, AND ASIGNING THE NEW REALITY EXPERIENCE</h3>
          <div class="ellipse"></div>
          <p>Anahit Ghazaryan</p>
          <span class="date">on February 27.2017</span>
        </div>
        <div>
          <div class="bg2"></div>
          <img src="../../assets/main/img2.jpg">
          <h3>A PRODUCT MANAGER'S GUIDE TO WORKING WITH VISUAL DESIGNERS</h3>
          <div class="ellipse"></div>
          <p>Anahit Ghazaryan</p>
          <span class="date">on February 27.2017</span>
        </div>
      </section>
      <section>
        <div>
          <h3>A PRODUCT MANAGER'S GUIDE TO WORKING WITH VISUAL DESIGNERS</h3>
          <div class="ellipse"></div>
          <p>Anahit Ghazaryan</p>
          <span class="date">on February 27.2017</span>
        </div>
      </section>
      <section>
        <div>
          <div class="bg2"></div>
          <img src="../../assets/main/img2.jpg">
          <h3>A PRODUCT MANAGER'S GUIDE TO WORKING WITH VISUAL DESIGNERS</h3>
          <div class="ellipse"></div>
          <p>Anahit Ghazaryan</p>
          <span class="date">on February 27.2017</span>
        </div>
        <div>
          <div class="bg1"></div>
          <img src="../../assets/main/img1.jpg">
          <h3>VR, AR, AND ASIGNING THE NEW REALITY EXPERIENCE</h3>
          <div class="ellipse"></div>
          <p>Anahit Ghazaryan</p>
          <span class="date">on February 27.2017</span>
        </div>
      </section>
      <section>
        <div>
          <h3>A PRODUCT MANAGER'S GUIDE TO WORKING WITH VISUAL DESIGNERS</h3>
          <div class="ellipse"></div>
          <p>Anahit Ghazaryan</p>
          <span class="date">on February 27.2017</span>
        </div>
      </section>
    </main>
    <main class="display-none-mobile main-blog-mobile">
      <div class="blog-mobile">
        Blog
        <div class="greenline greenline-left"></div>
        <div class="greenline greenline-right"></div>
      </div>
      <div class="recent-most-popular">
        <div class="recent">
          <span>Recent</span>
          <div class="green-round"></div>
        </div>
        <p class="most-popular">Most popular</p>
      </div>
      <section class="section-img">
        <div class="first-img">
          <div class="img1">
            <div class="bg3"></div>
            <img src="../../assets/main/img1_blog_mobile.png">
          </div>
          <span>VR</span>
          <p class="green-p">VR, AR, AND MR: DESIGNING THE NEW REALITY EXPERIENCE</p>
        </div>
        <div class="second-img">
          <div class="img2">
            <div class="bg4"></div>
            <img src="../../assets/main/img2_blog_mobile.png">
          </div>
          <span>VR</span>
          <p class="green-p">VR, AR, AND MR: DESIGNING THE NEW REALITY EXPERIENCE</p>
        </div>
      </section>
      <section class="dark"></section>
      <section class="text-1">
        <span class="vr">VR</span>
        <span class="vr-text-1">
				Lorem Ipsum is simply dummy text of the printing and
				typesetting industry. Lorem Ipsum has been the industry's
				standard dummy text ever since the 1500s
			</span>
      </section>
      <section class="section-img">
        <div class="second-img">
          <div class="img2">
            <div class="bg4"></div>
            <img src="../../assets/main/img2_blog_mobile.png">
          </div>
          <span>VR</span>
          <p class="green-p">VR, AR, AND MR: DESIGNING THE NEW REALITY EXPERIENCE</p>
        </div>
        <div class="first-img">
          <div class="img1">
            <div class="bg3"></div>
            <img src="../../assets/main/img1_blog_mobile.png">
          </div>
          <span>VR</span>
          <p class="green-p">VR, AR, AND MR: DESIGNING THE NEW REALITY EXPERIENCE</p>
        </div>
      </section>
      <div class="dark-parent">
        <section class="dark dark-2"></section>
        <div class="bg">
          <section class="text-2">
            <p class="vr-2">VR</p>
            <p class="vr-text-2">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s
            </p>
          </section>
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>

