<footer>
	<div class="links">
		<span>COMPANY</span>
		<div class="uls">
			<ul>
				<li><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
				<li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
				<li><a routerLink="/blog" routerLinkActive="active">Madcrocs Blog</a></li>
			</ul>
			<ul>
				<li><a routerLink="/terms" routerLinkActive="active">Terms of Services</a></li>
				<li><a routerLink="/policy" routerLinkActive="active">Privacy Policy</a></li>
				<li><a routerLink="/help" routerLinkActive="active">Need Help?</a></li>
			</ul>
		</div>
	</div>
	<div class="right-side">
		<img alt="logo" src="../../assets/main/footer_logo_mobile.png" class="displayNone-mobile">
		<div class="icons">
			<a [ngClass]="{linkedin: true}" href="https://www.linkedin.com/company-beta/18039412/?pathWildcard=18039412" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			<a [ngClass]="{facebook: true}" href="https://www.facebook.com/madcrocscom/" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a [ngClass]="{twitter: true}" href="https://twitter.com/madcrocscom" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a [ngClass]="{google: true}" href="https://plus.google.com/109000960212564114404" target="blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
		</div>
		<img alt="logo" src="../../assets/main/logo.png" class="displayNone">
		<p class="all-right-reserved">&#169;2017 | Madcrocs All rights reserved.</p>
	</div>
</footer>
