<!--login-->
<div class="bodyLogin" *ngIf="termsLogin">
  <app-sidenav></app-sidenav>
  <div class="totalLogin">
    <div class="TermsLogin">
      <h1 class="page-name">Terms of Services</h1>
      <div>
        <a routerLink="/dashboard" class="page-home">Dashboard</a>
        <span>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        <a routerLink="/terms" class="page-this">Terms of Services</a>
      </div>
    </div>
    <div class="content">
      <div class="main-terms main-terms-logout">
        <main>
          <div class="img-note"><img src="../../assets/main/note.png" class="displayNone-mobile"></div>
          <section class="section-terms">
            <h2>Lorem Ipsum</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="middleLine"></div>
          </section>
          <section class="section-terms">
            <h2>Lorem Ipsum</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="middleLine"></div>
          </section>
          <section class="section-terms">
            <h2>Lorem Ipsum</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </section>
        </main>
      </div>
    </div>
    <div class="menu-mobile">
      <div class="menu-content">
        <div class="menu-btn"><img src="../../assets/main/menu_btn_mobile.png"></div>
        <div class="note">
          <img src="../../assets/main/img_note_mobile.png">
          <div>7</div>
        </div>
        <div class="user-img"><img src="../../assets/main/user_img_mobile.png"></div>
        <div></div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<!--logout-->
<div class="bodyLogout" *ngIf="termsLogout">
    <div class="totalLogout">
      <div class="TermsLogout">
        <h1>Terms of Services</h1>
        <div class="greenLine greenLine1"></div>
        <div class="greenLine greenLine2"></div>
      </div>
      <div class="content">
        <div class="main-terms">
          <main>
            <div class="img-note"><img src="../../assets/main/note.png" class="displayNone-mobile"></div>
            <section class="section-terms">
              <h2>Lorem Ipsum</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
              <div class="middleLine"></div>
            </section>
            <section class="section-terms">
              <h2>Lorem Ipsum</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
              <div class="middleLine"></div>
            </section>
            <section class="section-terms">
              <h2>Lorem Ipsum</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </section>
          </main>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
</div>
