<script src="https://cdn.socket.io/socket.io-1.2.0.js">
</script>
<script>

    function sendMessage() {
        var text = document.getElementsByName('message')[0].value;
        socket.emit("bid", text);
    }

</script>
<% include layout/head.ejs %>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <% include layout/nav.ejs%>
        <% include layout/sidenav.ejs %>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Forms</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Send notifications to all users</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Text area</label>
                                        <textarea class="form-control" rows="10" name="message"></textarea>
                                    </div>
                                    <button type="submit" onclick="sendMessage()" class="btn btn-default">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include layout/footer.ejs %>