$tabs-title-font-size: 18px;
$tabs-title-color: #717171;
$tabs-title-active-color: #fff;
$tabs-active-color: #7ac243;
$critical-color: #f43737;
$warning-color: #f48c37;
$valid-color: #7ac243;
$sprite: url(../../assets/main/sprite.png);


.md-checkbox-checked .md-checkbox-background {
 // background-color:$tabs-title-color;
}

