<div class="container">
  <div class="container-block">
    <div class="container-header">
      <h3>Site Vs Site</h3>
      <div>
        <a routerLink="/dashboard">Dashboard</a> / <a routerLink="/site-vs-site">Site Vs Site</a>
      </div>
    </div>
    <div class="site-vs-site-comingSoon">
      <h2>Coming Soon!</h2>
      <div class="site-vs-site-comingSoon-content">
        <div class="site-vs-site-comingSoon-content-text">
          <div class="site-vs-site-comingSoon-content-text-icon"></div>
          <h1>Site Vs Site</h1>
          <p><span>Discover your real position</span>
            Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
            It has survived not only five centuries,
            but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
        </div>
        <div class="site-vs-site-comingSoon-content-img"></div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
